@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Pacifico');

* {
  box-sizing: border-box;
}
#app {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 0 20px;
  border-bottom: 1px solid rgb(223, 223, 223);
  position: fixed;
  width: 100%;
  background: white;
}
.nav__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left,
.nav__middle,
.nav__right {
  flex-basis: 30%;
  display: flex;
}
.nav__left {
  justify-content: flex-start;
}
.nav__middle {
  justify-content: center;
}
.nav__right {
  justify-content: flex-end;
}
.nav__logo {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: rgb(206, 0, 0);
}
.nav__link {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(71, 71, 71);
  transition: color 0.5s ease;
}
.nav__link:last-child {
  margin-right: 0;
}

.nav__separator {
  margin-right: 20px;
}
.fa-sign-out-alt,
.fa-shopping-bag,
.fa-user {
  color: rgb(71, 71, 71);
  transition: color 0.5s ease;
  font-size: 1.5em;
}
.fa-sign-out-alt:hover,
.nav__link:hover,
.fa-shopping-bag:hover,
.fa-user:hover {
  color: rgb(206, 0, 0);
}
.nav__counter {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(206, 0, 0);
  position: relative;
  top: -15px;
  left: -15px;
  display: inline-block;
}
.nav__counter__text {
  font-size: 10px;
  color: white;
  position: relative;
  top: -2px;
}

.sidemenu {
  width: 0;
  height: 100%;
  position: fixed;
  right: 0;
  background: rgb(250, 250, 250);
  border-left: 1px solid rgb(223, 223, 223);
  transition: width 0.5s ease;
  display: flex;
  flex-direction: column;
}
.sidemenu__title {
  font-size: 1em;
  text-transform: uppercase;
}
.sidemenu__paragraph {
  font-size: 0.8em;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}
.sidemenu__close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.fa-times-circle {
  font-size: 2em;
  color: rgb(206, 0, 0);
}
.cart {
  overflow: auto;
  width: 0;
  height: 100%;
  position: fixed;
  right: 0;
  background: rgb(250, 250, 250);
  border-left: 1px solid rgb(223, 223, 223);
  transition: width 0.5s ease;
  display: flex;
  flex-direction: column;
}
.cart__quantity {
  color: rgb(206, 0, 0);
}
.cart__item {
  display: flex;
  padding: 10px 20px;
  background: white;
}
.cart__item__img {
  width: 50px;
  margin-right: 20px;
}
.cart__item__img img {
  width: 50px;
}
.cart__item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.cart__item__name {
  font-weight: 700;
}
.cart__item__paragraph {
  font-size: 0.7em;
}
.cart__item__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.fa-trash {
  margin-right: 10px;
}
.fa-trash,
.fa-plus-circle,
.fa-minus-circle {
  color: rgb(71, 71, 71);
  transition: color 0.5s ease;
}
.fa-trash:hover,
.fa-plus-circle:hover,
.fa-minus-circle:hover {
  color: rgb(206, 0, 0);
}
.cart__item__x {
  font-size: 0.7em;
}
.total {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.total__title,
.total__price {
  flex-basis: 50%;
  display: flex;
  line-height: 2em;
}
.total__title {
  font-weight: 700;
}
.total__price {
  justify-content: flex-end;
}
.total__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.total__cart__title {
  font-weight: 700;
  margin-right: 20px;
}
.cart__checkout {
  padding: 20px;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
.is-visible {
  width: 450px;
}
.admin,
.checkout,
.singleProduct,
.products,
.order,
.userHome,
.orderHistory,
.updateUserForm {
  padding-top: 100px;
  padding-bottom: 20px;
}
.oauth {
  text-align: center;
  margin: 20px;
}
/* .oauth img {
  width: 50%;
} */
.oauth button {
  width: 382px;
  height: 92px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: rgb(250, 250, 250);
  background-image: url("/images/btn_google_signin_light_normal_web@2x.png");
}
.oauth button:hover {
  background-image: url("/images/btn_google_signin_light_focus_web@2x.png");
  cursor: pointer;
}
.oauth button:active {
  background-image: url("/images/btn_google_signin_light_pressed_web@2x.png");
}

.products__layout {
  display: flex;
  flex-wrap: wrap;
}
.products__spacing {
  min-height: 400px;
  flex-basis: 20%;
  padding: 10px;
}
.products__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.products__item:hover {
background: red;
}
.products__title {
  line-height: 2.0em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(71, 71, 71);
}
.products__img {
  width: 100%;
}

.products__text {
  line-height: 1.5em;
  font-weight: 100;
  text-decoration: none;
  color: rgb(71, 71, 71);

}

.products__price {
  line-height: 1.5em;
  font-weight: 100;
  text-decoration: none;
  color: rgb(71, 71, 71);
}



.footer {
  padding: 0 20px;
  border-top: 1px solid rgb(252, 252, 252);
  background-color: rgb(250, 250, 250);
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__left,
.footer__middle,
.footer__right {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__bottom {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-top: 1px solid rgb(223, 223, 223);
  background: rgb(233, 233, 233);
  font-size: 12px;
  color: rgb(71, 71, 71);
}
.footer__bottom__copyright {
  color: rgb(206, 0, 0);
  font-weight: 700;
}

.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgb(206, 0, 0);
}
.footer__paragraph {
  color: rgb(71, 71, 71);
  line-height: 1.15em;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__menu:last-child {
  margin-right: 150px;
}
.footer__link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  transition: color 0.5s ease;
  line-height: 1.5em;
}
.footer__link:hover {
  color: rgb(206, 0, 0);
}
.footer__input {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #e9eaea;
  font-size: 1em;
  outline: none;
}
.footer__input:focus {
  border: 2px solid rgb(206, 0, 0);
}
.footer__button {
  width: 100%;
  padding: 10px;
  background: rgb(206, 0, 0);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  outline: none;
  margin-bottom: 20px;
  border: none;
}
.footer__button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}
.footer__button:active {
  box-shadow: none;
  background: rgb(177, 0, 0);
}
.fa-instagram,
.fa-facebook,
.fa-twitter {
  font-size: 2em;
  color: rgb(71, 71, 71);
  margin-right: 20px;
  transition: color 0.3s ease;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #38a1f3;
}
.fa-instagram:hover {
  color: #125688;
}

.login__container {
  width: 100%;
}
.login__link {
  text-decoration: none;
  color: rgb(71, 71, 71);
  transition: color 0.5s ease;
  padding-left: 20px;
}
.login__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login__link span {
  text-transform: uppercase;
  color: rgb(206, 0, 0);
}
.signup-form,
.login-form {
  padding: 20px;
}

.input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: rgb(71, 71, 71);
  font-size: 1em;
  outline: none;
}

.input:focus {
  border: 2px solid rgb(206, 0, 0);
}

.btn {
  width: 100%;
  height: 60px;
  background: rgb(206, 0, 0);
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  line-height: 60px;
  color: white;
  letter-spacing: 1px;
  outline: none;
  border: none;
}
.btn:hover {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}
.btn:active {
  box-shadow: none;
  background: rgb(177, 0, 0);
}
.singleProduct {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.single_img {
  width: 250px;
  height: 400px;
}

.back-button {
  display: flex;
  flex-direction: column;
}

.single_info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.single_info span {
  margin: 15px;
}

.single_info button {
  border: 1px solid grey;
  border-radius: 15px;
  height: 60px;
  font-size: 15px;
}

.single_info button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single_name {
  font-size: 2.5rem;
}

.home {
  min-height: 100vh;
  background-image: url('flatlay.jpg');
  background-size: cover;
  padding-top: 80px;
}
.admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.admin_product_list {
  display: flex;
  flex-direction: column;
}
.userHome {
  min-height: 100vh;

.admin_product_info {
  display: flex;
}

.admin_single_info {
  display: flex;
  flex-direction: column;
 }

.product__button {
  width: 75%;
  padding: 10px;
  background: rgb(206, 0, 0);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  outline: none;
  margin-bottom: 20px;
  text-decoration: none;

}
/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.orderHistory,
.order,
.userHome {
  min-height: 100vh;
  padding-top: 100px;
}

.selected {
  color: rgb(206, 0, 0);
}
