@import 'reset.css';

* {
  box-sizing: border-box;
}
body {
  background-color: white;
}
a {
  color: white;
  text-decoration: none;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100%;
  font-family: 'Lato', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 80px;
  color: white;
  background-color: #34b3a0;
  position: fixed;
}
.navbar__menu {
  flex-basis: 30%;
}
.navbar__link {
  margin-right: 5%;
}
.navbar__link:last-child {
  margin-right: 0;
}
.navbar__login {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}
.navbar__position {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
.home {
  min-height: 100vh;
  background-image: url('flatlay.jpg');
  background-size: cover;
  padding-top: 80px;
}
.test {
  height: 100%;
  background-color: red;
}
.singleProduct,
.products,
.cart,
.order,
.userHome {
  height: 100%;
  padding: 90px 10px 10px 10px;
}
.products__layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.products__spacing {
  min-height: 400px;
  flex-basis: 20%;
  padding: 10px;
}
.products__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.products__title {
  text-transform: uppercase;
}
.products__img {
  width: 100%;
}

.login {
  min-height: 100vh;
  padding-top: 80px;
}

.login__container {
  width: 450px;
}

.signup-form,
.login-form {
  padding: 40px;
}

.input {
  width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  color: #3e3e40;
  font-size: 1em;
  outline: none;
}

.input:focus {
  border: 2px solid #34b3a0;
}

.btn {
  width: 100%;
  height: 60px;
  background: #34b3a0;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 60px;
  color: white;
  letter-spacing: 1px;
  outline: none;
}
.singleLink {
  color: black;
  width: 90px;
}

.singleLink:hover {
  color: purple;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.274);
}

.singleProduct {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single_img {
  width: 250px;
  height: 400px;
}

.back-button {
  display: flex;
  flex-direction: column;
}

.single_info {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.single_info span {
  margin: 15px;
}

.single_info button {
  border: 1px solid grey;
  border-radius: 15px;
  height: 60px;
  font-size: 15px;
}

.single_info button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single_name {
  font-size: 2.5rem;
}

/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */
